/* styles.css */
header {
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

body {
    padding-top: 180px;
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
main {
    padding: 20px;
}

.cta-button {
    display: inline-block;
    background-color: #808080;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #626262;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
}

nav#dynamicNav {
    margin-bottom: 50px;
}
